/* =============== Admin =============== */
// #admin .flash_container {
//   position: fixed;
//   top: 0;
//   z-index: 99;
// }
#admin {
  h1 {
    color: $text-color-grey;
    margin-bottom: 20px;
  }

  .action_btn {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    &.submit_btn {
      text-align: center;
    }
    a {
      display: inline-block;
    }
  }
  
  header {
    height: 100%;
    height: 100vh;
    width: 20%;
    background-color: $main-color;
    
    .wrapper {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 200px;
      height: 100%;
    }

    #logo {
      position: relative;
      left: auto;
      top: auto;
      width: 100%;
      max-width: 116px;
      margin-top: 40px;
    }

    nav {
      display: block;
      margin: 20px 0 0 0;
      border-bottom: 1px solid #fff;
      padding-bottom: 20px;
    }

    ul {
      li {
        display: block;

        a {
          display: block;
          color: #fff;
          padding: 10px 0;

          &::after {
            left: 0;
            border-bottom: 3px solid $secondary-color;
            width: 100%;
          }
        }
      }
      
    }

    .logout_btn {
      color: #fff;
      padding: 20px 0 0 0;
    }
    
    .static_site {
      margin-top: 20px;
    }

    section {
      .wrapper {
        margin: 60px 40px 40px 40px;
        padding: 0;
        max-width: 100%;

        .content {
          padding: 0;
          background-color: #f5f5f5;
        }
      }
    }
  }

  main {
    section {
      padding-top: 40px;
    }
  }


  section, footer {
    display: inline-block;
    width: 67%;
    width: calc(80% - 2px);
    background-color: #f5f5f5;
    margin: 0 0 0 20%;
    padding: 0;
  }

  footer {
    .wrapper {
      padding-left: 40px;
      text-align: center;
    }

    a {
      color: $main-color;
    }
  }

  /* =============== Admin - List View =============== */
  .view_list {

    font-family: $font-content;
    font-size: 12px;

    .row {
      background-color: #fff;
      margin-bottom: 10px;
      box-shadow: 5px 5px 10px rgba(0,0,0,.1);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      &.header {
        font-family: courier, serif;
        font-weight: 600;
        font-size: 14px;
        color: $text-color-dark;
      }

      a {
        color: $main-color;
      }

      form {
        .btn {
          color: $text-color-attation;
          border: none;
          background-color: unset;
          cursor: pointer;
          font-family: 'Kanit', sans-serif;
          font-weight: 400;

          &.activate_btn {
            color: $main-color;
          }
        }
      }

      .col {
        padding: 15px 5px;
        position: relative;
        flex-shrink: 0;
        text-align: center;
        word-wrap: break-word;

        &:not(:last-child):after {
          content: '';
          position: absolute;
          height: 80%;
          width: 1px;
          top: 10%;
          right: -0;
          background-color: #f5f5f5;
        }

        &.id {
          width: 60px;
        }

        &.list_btn{
          a {
            display: block;

            &.delete_btn {
              color: #D47468;
            }
          }

          
        }
         
      }
    }

    .deleted {
      background-color: unset;
      box-shadow: none;
      color: #adacac;
    }

  }

  /* =============== Admin - Form =============== */
  .admin_form {
    background-color: #fff;
    padding: 40px 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    font-family: 'Kanit', sans-serif;

    form {
      label, .left {
        vertical-align: top;
        margin-right: 16px;
        width: 160px;
        display: inline-block;
        color: #4a4a4a;
        text-align: right;
        padding: 10px 5px;
      }

      .right {
        display: inline-block;
        vertical-align: top;
        color: #4a4a4a;
        padding: 10px 5px;
      }
      .preview_img {
        display: inline-block;
        margin-right: 10px;

        .delete_img {
          display: block;
          color: $text-color-attation;
          cursor: pointer;
        }
      }
      

      input[type=radio] {
        margin: 15px 2px;
      }

      input[type=text], input[type=password], textarea {
        font-size: 16px;
        padding: 10px 5px;
        width: calc(100% - 205px);
        border: 1px solid #b8b8b8;
        outline: none;
      }

      input[type=file], select {
        padding: 10px 5px;
      }

      .upload_img {
        input {
          vertical-align: top;
        }

        img{
          width: 60px;
          height: auto;
        }
      }

      select {
        border: 1px solid #b8b8b8;
      }

      .reminder, .error {
        margin-left: 185px;
      }

      .reminder {
        font-size: 14px;
        color: #8990ad;
      }

      .error {
        display: block;
        font-weight: 400;
        color: $text-color-attation;
      }
    }
  }
}
